body {
    margin: 0;
    height: 100%;

}
nav a {
    text-align: center;
    color: #fcfbfb;
    text-decoration: none;
}    
.gHead {
    background-color:rgba(20,30,13, .7);
    fill: grey;
    text-decoration: none;
    color: white;
}
.fullPic {
    height:  100%;
    width: 100%;
}
.bgHead {
    background-color:rgba(20,30,13, .7);
    text-align: center;
    color: #fcfbfb;
    text-decoration: none;

}
.adventure {
    text-align: center;
    background-color: antiquewhite;
}
.mainImg {
    width: 40px;
    border: 4000px solid rgb(68,68,68);
}

.icon {
    width: 80px;
}